.container.firstcontent
    h3 Full results

    p.text This is a table containing all the results of the list
    #details

    h3 Subject under analysis
    p.text This is the list of the website under analysis
    #subjects


