.container.firstcontent
    h3 Example: how an invi.sible.link analysis looks like?
    p.text Well, welcome, looks exactly like this!

    h3 There are categories
    p.text and they are defined in a 
        a(href="https://github.com/vecna/example") github repository
        |: 
        a(href="") Brazil CSV
        |, and 
        a(href="https://github.com/vecna/example/blob/master/example.csv") Examples CSV
    ul
        li
            b Brazil
            |: contains ~80 brasilian website analized during the months
        li 
            b Example
            |: just the first random pages matching the word: 
            i example
            |  on search engines.

    ul.nav.nav-tabs.nav-justified.reduced
        li#halal(role='presentation')
            a(onclick="trexRender('brazil', '#sankeytable');")
                img(width="100" height="100" src='/campaign/brazil.png')
            p.idesc.selected Brazil
        li#travel(role='presentation')
            a(onclick="trexRender('example', '#sankeytable');")
                img(width="100" height="100" src='/campaign/example.png')
            p.idesc example
    #sankeytable

.container
    h3 Some quotes, to be used among the graph:

    .yellow
        p.quote Among all the products of the 
            i food industry,
            |  Pizza, is the only one with active 
            b Magic
            |  on it.
    
        p(class="source")
            a(href="https://en.wikipedia.org/wiki/History_of_pizza") Queen Margherita

.container
    h3 Graphs available
    ul
        li Sankeys, above
        li Table, in 
            b archive
        li Expert visualization, in 
            b details
        li Site history, you can see it clicking on a website name from any graphs.

include footer
