.container.firstcontent
    h3 Website analysis detail

    p.text This is a table containing all the info about trackers we got
    #table

    h3 Historical trends
    p.text Are the trackers changing during the time or not ?
    #historical


